/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;

$primaryColor1: hsl(246, 80%, 60%);
$workColor: hsl(15, 100%, 70%);
$playColor: hsl(195, 74%, 62%);
$studyColor: hsl(348, 100%, 68%);
$exerciseColor: hsl(145, 58%, 55%);
$socialColor: hsl(264, 64%, 52%);
$selfCareColor: hsl(43, 84%, 65%);

$neutralColor1: hsl(226, 43%, 10%);
$neutralColor2: hsl(235, 46%, 20%);
$neutralColor3: hsl(235, 45%, 61%);
$neutralColor4: hsl(236, 100%, 87%);

$white: #fff;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
$textFont: 'Rubik', sans-serif;
